<div class="beer-cards">
  <div class ="img-container">
    <a href="/beers/{{id}}"><img class="beer-img" src={{image_url}} alt={{name}} /></a>
  </div>
  <div class = "info-container">
    <h4 class = "beer-name"><a href="/beers/{{id}}">{{name}}</a></h4>
    <h2 class = "beer-tagline">{{tagline}}</h2>
    <p class = "beer-description">{{description}}</p>
  </div>
</div>